.blackTile{
    display: grid;
    place-content: center;
    background: #779556;
    width: 100px;
    height: 100px;
    img{
        width: 80px;
    }
}
.whiteTile{
    display: grid;
    place-content: center;
    img{
        width: 80px;
    }
    background-color: white;
    width: 100px;
    height: 100px;
}